In [1]:
import os
import pandas as pd

## Figure 2

In [7]:
pubchem_100k_smiles = pd.read_csv('../raw_data/pubchem_random/pubchem_100k_selected_smiles.tsv.gz', sep='\t', index_col="chem_id")

fig2 = pd.read_excel("../data/Source Data/Figure 2.xlsx", sheet_name="Fig 2a")
fig2bc = pd.read_excel("../data/Source Data/Figure 2.xlsx", sheet_name="Fig 2b, c")

fig2 = fig2.join(pubchem_100k_smiles, on="chem_id")
fig2bc = fig2bc.join(pubchem_100k_smiles, on="chem_id")


fig2bc.head()

,chem_id,jaccard_rank,cosine_rank,tanimoto_rank,jaccard_dist,jaccard_log2,cosine_dist,cosine_log2,tanimoto_dist,tanimoto_dist_log2,smiles
0,chem_83964,22,1,22,0.675000,-0.567041,0.004086,-7.935001,0.675000,-0.567041,Oc1ccc(CCC[NH2+]CCCc2ccc(O)cc2)cc1
1,chem_85673,1703,2,1702,0.807692,-0.308122,0.007094,-7.139280,0.807692,-0.308122,CCC[NH2+]CC(c1cccc(O)c1)c1cccc(O)c1
2,chem_41028,276,3,275,0.758621,-0.398549,0.015018,-6.057183,0.758621,-0.398549,CC(Cc1ccc(O)cc1)[NH2+]CC1Cc2ccccc2O1
3,chem_25955,309,4,309,0.762712,-0.390790,0.019637,-5.670283,0.762712,-0.390790,CC(Cc1ccc(O)cc1)[NH+]1Cc2c(O)cc(O)cc2C(O)C1
4,chem_25155,1170,5,1159,0.800000,-0.321928,0.021540,-5.536828,0.800000,-0.321928,CCC(Nc1ccc(O)cc1C)c1ccccc1O

In [8]:
with pd.ExcelWriter("../data/Source Data/Figure 2.xlsx") as writer:
    fig2.to_excel(writer, sheet_name="Figure 2a", index=False)
    fig2bc.to_excel(writer, sheet_name="Figure 2b,c", index=False)

## Figure 4

In [19]:
fig4a = pd.read_excel("../data/Source Data/Figure 4.xlsx", sheet_name="Fig 4a")
fig4b = pd.read_excel("../data/Source Data/Figure 4.xlsx", sheet_name="Fig 4b")

fig4c = pd.read_excel("../data/Source Data/Figure 4.xlsx", sheet_name="Fig 4c")
fig4c = fig4c.rename(columns={"Catalog Number": "catalog_number"})

fig4d = pd.read_excel("../data/Source Data/Figure 4.xlsx", sheet_name="Fig 4d")
fig4d = fig4d.rename(columns={"Catalog Number": "catalog_number"})

In [15]:
mce_chem_library = pd.read_csv("../raw_data/medchemexpress/chemical_library_cleaned.tsv.gz", sep='\t')
mce_chem_library  = mce_chem_library[["Catalog Number", "rdkit_no_salt"]]
mce_chem_library.columns = ["catalog_number", "smiles"]

mce_chem_library = mce_chem_library.set_index("catalog_number")

mce_chem_library.head()

                                                           smiles
catalog_number
HY-B1898                     Cc1ncc(CO)c(CO)c1O.O=C1CCC(C(=O)O)N1
HY-B0983        CCCC(=O)OC1(C(=O)CO)CCC2C3CCC4=CC(=O)CCC4(C)C3...
HY-B1892        Cc1nnc(SCC2=C(C(=O)O)N3C(=O)C(NC(=O)Cn4cnnn4)C...
HY-B1900        CC1CC2C(C(O)CC3(C)C2CCC3(O)C(=O)COC(=O)CCC(=O)...
HY-A0070A              NC(Cc1cc(I)c(Oc2ccc(O)c(I)c2)c(I)c1)C(=O)O

In [21]:
fig4a = fig4a.join(mce_chem_library, on="catalog_number")
fig4c = fig4c.join(mce_chem_library, on="catalog_number")
fig4d = fig4d.join(mce_chem_library, on="catalog_number")

In [22]:
with pd.ExcelWriter("../data/Source Data/Figure 4.xlsx") as writer:
    fig4a.to_excel(writer, sheet_name="Figure 4a", index=False)
    fig4b.to_excel(writer, sheet_name="Figure 4b", index=False)
    fig4c.to_excel(writer, sheet_name="Figure 4c", index=False)
    fig4d.to_excel(writer, sheet_name="Figure 4d", index=False)

## Supplementary Figure 10

In [ ]:
ncbi_search = pd.read_excel("../raw_data/maier_microbiome/")s